- title "Songs <span>(#{Song.all.count})</span>"

%form{ action: "/songs/search", method: "get" }
  %input{ name: "query", type: "text", value: params[:query] }
  %input{ type: "submit", value: "Search", class: "submit" }
    

= haml :"_songs"